<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<a th:class="btn-a" th:href="@{/car/deleteAll}">Delete All</a>
<a th:class="btn-a" th:href="@{/car/addAll}">Add All</a>
<a th:class="btn-a" th:href="@{/car/add}">Add</a>

<div th:if="${status==true}">
    <p>Данные добавлены!</p>
</div>

<div th:if="${status!=true}">
    <p>Данные не добавлены!</p>
</div>

<div th:if="${cars==null and status!=true}">
    <strong>Нет данных!</strong>

</div>


<div th:if="${cars!=null and cars.size()!=0}">
    <table border="2">
        <thead>
        <tr>
            <th>id</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="car: ${cars}">
            <td th:text="${car.getId()}"></td>
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getYear()}"></td>
            <td th:text="${car.getColor()}"></td>
        </tr>
        </tbody>

    </table>


</div>
</body>
</html>