<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main}">
<body>

<main layout:fragment="content">

    <a th:class="btn-a" th:href="@{/car/deleteAll}">Delete All</a>
    <a th:class="btn-a" th:href="@{/car/addAll}">Add All</a>
    <a th:class="btn-a" th:href="@{/car/add}">Add</a>

    <div th:if="${status==true}">
        <p>Данные добавлены!</p>
    </div>

    <div th:if="${status!=true}">
        <p>Данные не добавлены!</p>
    </div>

    <div th:if="${cars==null and status!=true}">
        <strong>Нет данных!</strong>

    </div>


    <div th:if="${cars!=null and cars.size()!=0}">
        <table border="2">
            <thead>
            <tr>
                <th onclick="sortTable(0)">id</th>
                <th onclick="sortTable(1)">Brand</th>
                <th onclick="sortTable(2)">Model</th>
                <th onclick="sortTable(3)">Year</th>
                <th onclick="sortTable(4)">Color</th>
                <th>Buttons</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="car: ${cars}">
                <td th:text="${car.getId()}"></td>
                <td th:text="${car.getBrand()}"></td>
                <td th:text="${car.getModel()}"></td>
                <td th:text="${car.getYear()}"></td>
                <td th:text="${car.getColor()}"></td>
                <td>
                    <div class="container">

                        <form onsubmit="return confirm('Вы уверены?')"
                              th:action="@{/car/delete/{id}(id=${car.getId()})}" method="post">
                            <input hidden name="_method" value="delete">
                            <button type="submit" class="btn-a del btn-delete">Delete</button>
                        </form>
                        <a class="btn-a edit btn-update"
                           th:href="@{/car/edit/{id}(id=${car.getId()})}">Edit</a>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>


    </div>
    <script th:src="@{/js/script.js}"> </script>
</main>


</body>
</html>