.btn-a {
    border: 3px solid black;
    text-decoration: none;
    background-color: blue;
    color: white;
}

* {
    user-select: none;
}

.btn-a:hover {
    background-color: aqua;
    color: black;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit {
    background-color: orange ;
    color: black;
    margin: 5px;

}

.del {
    background-color: red ;
    color: black;
    margin: 5px;
    cursor: pointer;
}

th:hover{
    cursor: pointer;
    background-color: blueviolet;

}

h1{
    color: green;
    background-color: aqua;
    font-size: 50px;
}

a{
    cursor: pointer;

    background-color: lightgray;
    color: black;

}
